{% extends 'base.html.twig' %}

{% block body %}
    <h1>Specialites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Prixrdv</th>
                <th>Prixdomicile</th>
                <th>Pourcentage</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr>
                <td><a href="{{ path('specialite_show', { 'id': specialite.id }) }}">{{ specialite.id }}</a></td>
                <td>{{ specialite.designation }}</td>
                <td>{{ specialite.prixRdv }}</td>
                <td>{{ specialite.prixDomicile }}</td>
                <td>{{ specialite.pourcentage }}</td>
                <td>{{ specialite.description }}</td>
                <td>{{ specialite.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('specialite_show', { 'id': specialite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('specialite_edit', { 'id': specialite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('specialite_new') }}">Create a new specialite</a>
        </li>
    </ul>
{% endblock %}
