{% extends 'base.html.twig' %}

{% block body %}
    <h1>Specialite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ specialite.designation }}</td>
            </tr>
            <tr>
                <th>Prixrdv</th>
                <td>{{ specialite.prixRdv }}</td>
            </tr>
            <tr>
                <th>Prixdomicile</th>
                <td>{{ specialite.prixDomicile }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ specialite.pourcentage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ specialite.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ specialite.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('specialite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('specialite_edit', { 'id': specialite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
