{% extends 'base.html.twig' %}

{% block body %}
    <h1>Examen_rdv</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_rdv.id }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ examen_rdv.resultat }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ examen_rdv.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('examen_rdv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('examen_rdv_edit', { 'id': examen_rdv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
