{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medecins list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Localisationcabinet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td><a href="{{ path('medecin_show', { 'id': medecin.id }) }}">{{ medecin.id }}</a></td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>{{ medecin.photo }}</td>
                <td>{{ medecin.description }}</td>
                <td>{{ medecin.localisationCabinet }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medecin_show', { 'id': medecin.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medecin_edit', { 'id': medecin.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medecin_new') }}">Create a new medecin</a>
        </li>
    </ul>
{% endblock %}
