{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maladies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maladie in maladies %}
            <tr>
                <td><a href="{{ path('maladie_show', { 'id': maladie.id }) }}">{{ maladie.id }}</a></td>
                <td>{{ maladie.nom }}</td>
                <td>{{ maladie.photo }}</td>
                <td>{{ maladie.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('maladie_show', { 'id': maladie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('maladie_edit', { 'id': maladie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maladie_new') }}">Create a new maladie</a>
        </li>
    </ul>
{% endblock %}
