{% extends 'base.html.twig' %}

{% block body %}
    <h1>Laboratoire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laboratoire.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ laboratoire.designation }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ laboratoire.localisation }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ laboratoire.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('laboratoire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('laboratoire_edit', { 'id': laboratoire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
